<div class="layout-mode" fxFlex fxLayout="column">
    <div class="page-header">
        <h4 *ngIf="!dialogOpened">{{'User_Group'|translate}}</h4> 
        <h4 *ngIf="dialogOpened">User Group - Add New</h4>
    </div>
    <div class="card" *ngIf="!dialogOpened" fxFlex>
        <div class="card-body" fxFlex fxLayout="column">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-sm-0 mb-1">
                        <div class="d-flex align-items-center">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="search"
                                    placeholder="{{'Search'|translate}}" (input)="onInput($event.target.value)">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm btn-icon" type="button">
                                        <svg viewBox="0 0 410.23 410.23" class="icon">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm ml-2 btn-icon" type="button" (click)="dialougeToggle()">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Kendo Grid Start -->
            <div fxLayout="column" fxFlex="100%" class="kendo-grid-wrapper mt-3">

                <kendo-grid #gridUser [kendoGridBinding]="gridData" [resizable]="true" [sortable]="true" class="full-height-grid kendo-responsive-grid" [filterable]=isColumnFilter
                    [groupable]=isColumnGroup [columnMenu]="false"
                    [selectable]="true" 
                    (selectionChange)="gridUserSelectionChange(gridUser, $event)">
                    <!-- [pageSize]="10" 
                    [pageable]="{
                        buttonCount: paginationButtonCount,
                        info: paginationInfo,
                        type: paginationType,
                        pageSizes: paginationPageSizes,
                        previousNext: paginationInfoPreviousNext
                    }"> -->
                    <!-- grid template start -->
                    <ng-template kendoGridToolbarTemplate >
                        <div class="d-flex align-items-center">
                            <!-- show hide column start show hide -->
                            <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                            <!-- checkbox -->
                            <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
                                <input type="checkbox" [(ngModel)]="isColumnFilter" [ngModelOptions]="{standalone: true}">
                                <span class="checkbox"></span>
                                <span>{{'Enable_filter'|translate}}</span>
                            </label>
                            <label class="custom-checkbox mb-0 grouping-checkbox">
                                <input type="checkbox" [(ngModel)]="isColumnGroup" [ngModelOptions]="{standalone: true}">
                                <span class="checkbox"></span>
                                <span>{{'Enable_grouping'|translate}}</span>
                            </label>
                            <!-- export -->
                            <button type="button" kendoGridExcelCommand title="{{'Export_to_excel_file'|translate}}" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </button>
                        </div>
                    </ng-template>

                    <!-- Mobile view column -->
                    <kendo-grid-column media="(max-width: 767px)" title="Items">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            
                            <div class="d-flex">
                                <dl class="mb-0 w-50 pr-1">
                                    <dt>{{'Group_Code'|translate}}</dt>
                                    <dd>{{ dataItem.OPTM_GROUPCODE}}</dd>
                                    {{ dataItem.OPTM_GROUPCODE}}
                                    <!-- <dt>Admin</dt>
                                    <dd class="mb-0">{{ dataItem.Category.CategoryName }}</dd> -->
                                </dl>                                
                                <dl class="mb-0 w-50">
                                    <dt>{{'Group_Description'|translate}}</dt>
                                    <dd>{{ dataItem.OPTM_DESCRIPTION}}</dd>
                                </dl>
                                <dl class="mb-0 w-50">
                                        <dt>{{'Group_Admin'|translate}}</dt>
                                        <dd>{{ dataItem.OPTM_ISADMIN }}</dd>
                                    </dl>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                  
                    <!-- columns for mid-size devices -->
                    <kendo-grid-column media="(min-width: 768px)" field="OPTM_GROUPCODE" title="{{'Group_Code'|translate}}"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="OPTM_DESCRIPTION" title="{{'Group_Description'|translate}}"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="OPTM_ISADMIN" title="{{'Admin'|translate}}">
                    </kendo-grid-column>

                    <!-- xlsx template start -->
                    <kendo-grid-excel fileName="User-group.xlsx"></kendo-grid-excel>
                    <!-- xlsx template end -->
                </kendo-grid>
            </div>
            <!-- Kendo Grid End -->
        </div>
    </div>
    <div class="card" *ngIf="dialogOpened" fxFlex>
        <div class="card-body" fxFlex fxLayout="column">
            <form #UserForm="ngForm" fxFlex fxLayout="column">
                <div class="addNewScreen pb-3" fxFlex="100%" >
                    <div class="row no-gutters">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="form-group mb-2 px-1">
                                <label for="user_group" class="mb-0">{{'Group_Admin'|translate}}<span class="text-danger">*</span></label>
                                <input type="text" #UserGrpId="ngModel" class="form-control form-control-sm" id="UserGroupId" name="UserGroupId" [(ngModel)]="model.UserGroupId"  (change)="onChange(UserGrpId.value)"   autocomplete="off" required> <!-- [readonly]="!Ugroup" -->
                            </div>
                            <div class="form-group mb-2 px-1">
                                <label for="description" class="mb-0">{{'Description'|translate}}<span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-sm" id="UserGroupDesc" name="UserGroupDesc" #UserGroupDesc="ngModel" [(ngModel)]="model.UserGroupDesc"  autocomplete="off" required> <!--[readonly]="!UDesc"-->
                            </div>             
                            <div class="form-group mb-2 px-1" >
                                <label for="mappes_user" class="mb-0"> {{'Mapped_SAP_B1_User'|translate}} <span class="text-danger">*</span></label>
                            
                                <kendo-dropdownlist class="form-control-sm form-control w-100" id="sapUser" [data]="DropDownListData" [(ngModel)]="model.mapped_user" #mappeduser="ngModel" [valuePrimitive]="true"  name="sapUser" required autocomplete="off"
                                textField="USER_CODE" valueField="USER_CODE">
                                </kendo-dropdownlist> 
                                <!--[readonly]="!UUser" -->
                            </div>                            
                            <div class="form-group mb-2 px-1">
                                <label for="mappes_user_password" class="mb-0">{{'Mapped_SAP_B1_User_Password'|translate}}<span class="text-danger">*</span></label>
                                <input type="password" id="mapped_Password"  name="mapped_Password" #mappedPasasword="ngModel" [(ngModel)]="model.mapped_Password" class="form-control form-control-sm" autocomplete="off" required> <!--[readonly]="!UPwd"-->
                            </div>
                            <div class="row form-group mb-0 px-1">
                                <div class="col-12 d-flex align-items-center my-2">
                                    <label class="custom-checkbox mb-0">
                                        <input type="checkbox"  id="IsAdminEnabled" name="IsAdminEnabled" [(ngModel)]="model.IsAdminEnabled"><!-- [disabled]="!AdminEnable"-->
                                        <span class="checkbox"></span>
                                        <span class="text-inverse">  {{'Manager_Admin'|translate}}</span>
                                    </label>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="sticky-bottom-toolbar d-flex align-items-center justify-content-start border-top pt-2">
                    <button class="btn btn-success btn-sm d-flex align-items-center mr-2" type="button" (click)="SaveData()" *ngIf="enableSubmit" [disabled]= "!UserForm.form.valid" >
                        <svg viewBox="0 0 512 512" class="icon mr-2">
                            <use xlink:href="#saveDisk"></use>
                        </svg>  {{'Save'|translate}}
                    </button>
                    <button class="btn btn-success btn-sm mr-2 d-flex align-items-center" type="button"
                    (click)="UpdateData('edit')" *ngIf="enableUpdate">
                        <svg viewBox="0 0 64 64" class="icon mr-2">
                            <use xlink:href="#update"></use>
                        </svg> {{'Update'|translate}}
                    </button>
                    <button class="btn btn-danger  btn-sm d-flex align-items-center mr-2" *ngIf="enableDelete" type="button" (click)="confirmationToggle()"> 
                        <svg viewBox="0 0 753.23 753.23" class="icon mr-2">
                            <use xlink:href="#bin"></use>
                        </svg> {{'Delete'|translate}}
                    </button>
                    <button class="btn btn-danger btn-sm d-flex align-items-center mr-2" type="button" (click)="CancelData()"> 
                        <svg viewBox="0 0 489 489" class="icon mr-2">
                            <use xlink:href="#cancel"></use>
                        </svg> {{'Cancel'|translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Confirmation Dialouge -->

<kendo-dialog *ngIf="confirmationOpened" (close)="confirmationToggle()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        <div> {{'Please_Confirm'|translate}}</div>
    </kendo-dialog-titlebar>
    <div class="">
        {{'Do_you_want_to_delete_record'|translate}}

    </div>
    <kendo-dialog-actions class="p-2 align-items-start justify-content-start">
        <button class="btn btn-success btn-sm d-flex align-items-center mr-2" type="button" 
        (click)="ChkUserGroupAssociativity()">  > 
            <svg viewBox="0 0 55.25 55.25" class="icon mr-2">
                <use xlink:href="#edit"></use>
            </svg> {{'Yes'|translate}}
        </button>           

        <button class="btn btn-danger btn-sm ml-auto d-flex align-items-center" type="button"
        (click)="confirmationToggle()" >
            <svg viewBox="0 0 512 512" class="icon mr-2">
                <use xlink:href="#saveDisk"></use>
            </svg> {{'No'|translate}}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>

<!-- Confirmation Dialouge at the time of edit -->

<kendo-dialog *ngIf="confirmationOpenedEdit" (close)="confirmationEditToggle()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        <div> {{'Please_Confirm'|translate}}</div>
    </kendo-dialog-titlebar>
    <div class="">
        <!-- {{'Do_you_want_to_delete_record'|translate}} -->
        Your Data will be lost..Do you want to save it?

    </div>
    <kendo-dialog-actions class="p-2 align-items-start justify-content-start">
        <button class="btn btn-success btn-sm d-flex align-items-center mr-2" id='btnCancelEdit' type="button" 
        (click)="UpdateData('Cancel')">  > 
            <svg viewBox="0 0 55.25 55.25" class="icon mr-2">
                <use xlink:href="#edit"></use>
            </svg> {{'Yes'|translate}}
        </button>           


        <button class="btn btn-danger btn-sm ml-auto d-flex align-items-center" type="button"
        (click)="dialougeToggle(Cancel)" >
            <svg viewBox="0 0 512 512" class="icon mr-2">
                <use xlink:href="#saveDisk"></use>
            </svg> {{'No'|translate}}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>