<nav class="navbar navbar-expand-lg navbar-dark bg-primary-gradient" fxLayout="row" fxFlex="100">
  <div class="navbar-inner" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <!-- <a class="navbar-brand" href="/"><img src="./../../../assets/images/logo/OptiProERP-white.png" title="OptiPro-ERP" /></a> -->
    <button class="navbar-toggle-btn" type="button" (click)="sidebarToggle()" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <svg viewBox="0 -96 512 512" class="icon menu-icon">
          <use xlink:href="#menu"></use>
      </svg>
      <svg viewBox="0 0 475 475" class="icon menu-icon-mobile">
          <use xlink:href="#close"></use>
      </svg>
    </button>
      <kendo-menu [openOnClick]="{ toggle: 'click' }" class="navbar-nav ml-auto navbar-right">
          <kendo-menu-item cssClass="custom">
              <ng-template kendoMenuItemTemplate>
                <a class="nav-link dropdown-toggle">
                  <span class="user-avtar">
                    <svg viewBox="0 0 128 128" class="icon icon-user" title="{{userName}}">
                        <use xlink:href="#user-avatar"></use>
                    </svg>
                  </span> 
                  <!--<span class="user-name">{{userName}}</span>--> 
                  <span class="user-name">Admin</span>
                  <svg viewBox="0 0 451.847 451.847" class="icon icon-caret">
                      <use xlink:href="#caret"></use>
                  </svg>
                </a>
              </ng-template>
              <ng-template kendoMenuItemContentTemplate class="demoPopup" >
                  <button type="button" class="dropdown-item" (click)="functionM()">About</button>
                  <button type="button" class="dropdown-item" (click)="confirmationToggle()">Logout</button>
              </ng-template>
          </kendo-menu-item>
      </kendo-menu>
  </div>      
</nav>

<kendo-dialog *ngIf="confirmationOpened" (close)="confirmationToggle()" [minWidth]="250" [width]="450">
    <kendo-dialog-titlebar>
        <div> {{'Please_Confirm'|translate}}</div>
    </kendo-dialog-titlebar>
    <div class="">
        {{'Do_you_want_to_logout'|translate}}

    </div>
    <kendo-dialog-actions class="p-2 align-items-start justify-content-start">
        <button class="btn btn-success btn-sm d-flex align-items-center mr-2" type="button" 
        (click)="Logout()">  
            <svg viewBox="0 0 55.25 55.25" class="icon mr-2">
                <use xlink:href="#edit"></use>
            </svg> {{'Yes'|translate}}
        </button>           

        <button class="btn btn-danger btn-sm ml-auto d-flex align-items-center" type="button"
        (click)="confirmationToggle()" >
            <svg viewBox="0 0 512 512" class="icon mr-2">
                <use xlink:href="#saveDisk"></use>
            </svg> {{'No'|translate}}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>