<div class="layout-mode" fxFlex fxLayout="column">
    <div class="page-header">
        <h4>{{'User_Management'|translate}}</h4>
    </div>
    <div class="card" fxFlex *ngIf="!addUserScreen">
        <div class="card-body" fxFlex fxLayout="column">
            <form>
                <div class="row">
                    <div class="col-sm-6 col-md-4 mb-sm-0 mb-1">
                        <div class="d-flex align-items-center">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="search"
                                    placeholder="{{'Search'|translate}}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm btn-icon" type="button">
                                        <svg viewBox="0 0 410.23 410.23" class="icon">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-success btn-sm ml-2 btn-icon" type="button" (click)="addUserScreenToggle()">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Kendo Grid Start -->
            <div fxLayout="column" fxFlex="100%" class="kendo-grid-wrapper mt-3">

                <kendo-grid [kendoGridBinding]="gridData" [resizable]="true" [sortable]="true" class="full-height-grid kendo-responsive-grid" [filterable]=isColumnFilter
                    [groupable]=isColumnGroup [columnMenu]="false">
                    <!-- [pageSize]="10" 
                    [pageable]="{
                        buttonCount: paginationButtonCount,
                        info: paginationInfo,
                        type: paginationType,
                        pageSizes: paginationPageSizes,
                        previousNext: paginationInfoPreviousNext
                    }"> -->
                    <!-- grid template start -->
                    <ng-template kendoGridToolbarTemplate >
                        <div class="d-flex align-items-center">
                            <!-- show hide column start show hide -->
                            <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                            <!-- checkbox -->
                            <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
                                <input type="checkbox" [(ngModel)]="isColumnFilter" [ngModelOptions]="{standalone: true}">
                                <span class="checkbox"></span>
                                <span>{{'Enable_filter'|translate}}</span>
                            </label>
                            <label class="custom-checkbox mb-0 grouping-checkbox">
                                <input type="checkbox" [(ngModel)]="isColumnGroup" [ngModelOptions]="{standalone: true}">
                                <span class="checkbox"></span>
                                <span>{{'Enable_grouping'|translate}}</span>
                            </label>
                            <!-- export -->
                            <button type="button" kendoGridExcelCommand title="Export to excel file" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                <svg viewBox="0 0 512 512" class="icon">
                                    <use xlink:href="#download"></use>
                                </svg>
                            </button>
                        </div>
                    </ng-template>

                    <!-- Mobile view column -->
                    <kendo-grid-column media="(max-width: 767px)" title="Items">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="d-flex">
                                <dl class="mb-0 w-50 pr-1">
                                    <dt>{{'User_Code'|translate}}</dt>
                                    <dd>{{ dataItem.ProductName }}</dd>
    
                                    <dt>{{'User_Group'|translate}}</dt>
                                    <dd class="mb-0">{{ dataItem.Category.CategoryName }}</dd>
                                </dl>                                
                                <dl class="mb-0 w-50">
                                    <dt>{{'User_Name'|translate}}</dt>
                                    <dd>{{ dataItem.Category.Description }}</dd>

                                    <dt>{{'Active'|translate}}</dt>
                                    <dd class="mb-0">{{ dataItem.Category.Description }}</dd>
                                </dl>
                            </div>
                        </ng-template>
                    </kendo-grid-column>

                    <!-- columns for mid-size devices -->
                    <kendo-grid-column media="(min-width: 768px)" field="ProductName" title="{{'User_Code'|translate}}"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Category.Description" title="{{'User_Name'|translate}}"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Category.CategoryName" title="{{'User_Group'|translate}}"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Category.Description" title="{{'Active'|translate}}"></kendo-grid-column>

                    <!-- xlsx template start -->
                    <kendo-grid-excel fileName="User-management.xlsx"></kendo-grid-excel>
                    <!-- xlsx template end -->
                </kendo-grid>
            </div>
            <!-- Kendo Grid End -->
        </div>
    </div>
    <!-- add user screen -->
    <div class="card" fxFlex *ngIf="addUserScreen">
        <div class="card-body pb-2" fxFlex fxLayout="column">            
            <div class="addUserScreen" fxFlex="100%">
                <div class="user-detail">
                    <div class="section-heading mb-2">
                        <h5 class="m-0">{{'User_Details'|translate}}</h5>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                <div class="row">
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="user_id">{{'User_Id'|translate}}<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-sm" id="user_id" name="user_id">
                                    </div>                            
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="user_name">{{'User_Name'|translate}}</label>
                                        <input type="text" class="form-control form-control-sm" id="user_name" name="user_name">
                                    </div>
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="password">{{'Password'|translate}}<span class="text-danger">*</span></label>
                                        <input type="password" class="form-control form-control-sm" id="password" name="password">
                                    </div>
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="re_password">{{'Re-Enter_Password'|translate}}<span class="text-danger">*</span></label>
                                        <input type="password" class="form-control form-control-sm" id="re_password" name="re_password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 offset-sm-1 col-md-4 offset-md-1 col-lg-4 offset-lg-1 col-xl-3 offset-xl-1">
                                <div class="row">
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="user_group">{{'User_Group'|translate}}<span class="text-danger">*</span></label>
                                        <kendo-dropdownlist id="user_group" name="user_group" class="form-control-sm form-control w-100"></kendo-dropdownlist>
                                    </div>
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="mapped_user_id">{{'Mapped_SAP_B1_User'|translate}}<span class="text-danger">*</span></label>
                                        <kendo-dropdownlist id="mapped_user_id"  name="mapped_user_id" class="form-control-sm form-control w-100"></kendo-dropdownlist>
                                    </div>
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="mapped_user_password" >{{'Mapped_SAP_B1_User_Password'|translate}}<span class="text-danger">*</span></label>
                                        <input type="password" name="mapped_user_password" class="form-control form-control-sm" id="mapped_user_password">
                                    </div>
                                    <div class="form-group col-md-12 mb-2">
                                        <label class="mb-0" for="tenant">{{'Tenant'|translate}}</label>
                                        <kendo-dropdownlist id="tenant"  name="tenant" class="form-control-sm form-control w-100"></kendo-dropdownlist>
                                    </div>
                                    <div class="form-group col-md-12 mb-2">
                                        <!-- <label class="custom-checkbox mb-0">
                                            <input type="checkbox" value="">
                                            <span class="checkbox"></span>
                                            <span class="text-inverse">Active</span>
                                        </label> -->
                                        <!-- <label class="mb-0">Account Status</label> -->
                                        <div class="custom-control custom-switch mt-1">
                                            <input type="checkbox" class="custom-control-input" name="account_status" id="account_status" [(ngModel)]="accountStatus">
                                            <label class="custom-control-label" for="account_status">{{ accountStatus ? 'Active': 'Inactive' }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </form>
                </div>
                <div class="company-company-details border-top py-3 mt-2">
                    <div class="row">
                        <div class="company col-sm-6">
                            <div class="section-heading mb-2">
                                <h5 class="m-0">{{'Company'|translate}}</h5>
                            </div>
                            <kendo-grid [kendoGridBinding]="data" [resizable]="true" [sortable]="true" class="custom-height-grid" [filterable]=isColumnFilter
                                [groupable]=isColumnGroup [columnMenu]="false" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">

                                <!-- [pageSize]="10" 
                                [pageable]="{
                                    buttonCount: paginationButtonCount,
                                    info: paginationInfo,
                                    type: paginationType,
                                    pageSizes: paginationPageSizes,
                                    previousNext: paginationInfoPreviousNext
                                }"> -->

                                <!-- grid template start -->
                                <ng-template kendoGridToolbarTemplate >
                                    <div class="d-flex align-items-center">
                                        <!-- show hide column start show hide -->
                                        <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                                        <!-- checkbox -->
                                        <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
                                            <input type="checkbox" [(ngModel)]="isColumnFilter" [ngModelOptions]="{standalone: true}">
                                            <span class="checkbox"></span>
                                            <span>{{'Enable_filter'|translate}}</span>
                                        </label>
                                        <label class="custom-checkbox mb-0 grouping-checkbox">
                                            <input type="checkbox" [(ngModel)]="isColumnGroup" [ngModelOptions]="{standalone: true}">
                                            <span class="checkbox"></span>
                                            <span>{{'Enable_grouping'|translate}}</span>
                                        </label>
                                        <!-- export -->
                                        <button type="button" kendoGridExcelCommand title="{{'Export_to_excel_file'|translate}}" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                            <svg viewBox="0 0 512 512" class="icon">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </ng-template>

                                <!-- columns for mid-size devices -->
                                <kendo-grid-checkbox-column headerClass="text-center" class="text-center" [width]="40">
                                    <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                        <label class="custom-checkbox m-0">
                                            <input type="checkbox" [kendoGridSelectionCheckbox]="idx">
                                            <span class="checkbox"></span>
                                        </label>
                                    </ng-template>
                                </kendo-grid-checkbox-column>
                                <kendo-grid-column field="ProductName" title="Database" [width]="150"></kendo-grid-column>
                                <kendo-grid-column field="ProductID" title="Company" [width]="150"></kendo-grid-column>
                                <kendo-grid-column field="" title="User Type" [width]="100">
                                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                            <kendo-dropdownlist [data]="listItems" class="form-control-sm form-control w-100"></kendo-dropdownlist>
                                        </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="" title="Emp ID" [width]="100">
                                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                            <kendo-dropdownlist [data]="listItems" class="form-control-sm form-control w-100"></kendo-dropdownlist>
                                        </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="" title="BP ID" [width]="100">
                                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                            <kendo-dropdownlist [data]="listItems" class="form-control-sm form-control w-100"></kendo-dropdownlist>
                                        </ng-template>
                                </kendo-grid-column>
                                <ng-template kendoGridDetailTemplate let-dataItem>
                                    <kendo-grid [kendoGridBinding]="data" [resizable]="true" [sortable]="true" class="" [filterable]=false
                                        [groupable]=false [columnMenu]="false" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">
                                        <!-- columns for mid-size devices -->
                                        <kendo-grid-checkbox-column headerClass="text-center" class="text-center" [width]="40">
                                            <ng-template kendoGridCellTemplate let-ids="rowIndex">
                                                <label class="custom-checkbox m-0">
                                                    <input type="checkbox" [kendoGridSelectionCheckbox]="ids">
                                                    <span class="checkbox"></span>
                                                </label>
                                            </ng-template>
                                        </kendo-grid-checkbox-column>
                                        <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
                                        <kendo-grid-column field="ProductName" title="Description"></kendo-grid-column> 
                                    </kendo-grid>
                                </ng-template>
                                <!-- xlsx template start -->
                                <kendo-grid-excel fileName="User-management.xlsx"></kendo-grid-excel>
                                <!-- xlsx template end -->
                            </kendo-grid>
                        </div>
                        <div class="company-details col-sm-6 mt-3 mt-sm-0">
                            <div class="section-heading mb-2">
                                <h5 class="m-0">DB: Chai, Company: 1</h5>
                            </div>
                            <kendo-grid [kendoGridBinding]="data" [resizable]="true" [sortable]="true" class="custom-height-grid" [filterable]=isColumnFilter33
                                [groupable]=false [columnMenu]="false" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">

                                <!-- grid template start -->
                                <ng-template kendoGridToolbarTemplate >
                                    <div class="d-flex align-items-center">
                                        <!-- show hide column start show hide -->
                                        <!-- <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser> -->

                                        <!-- checkbox -->
                                        <label class="custom-checkbox mb-0 mr-2 filter-checkbox">
                                            <input type="checkbox" [(ngModel)]="isColumnFilter33" [ngModelOptions]="{standalone: true}">
                                            <span class="checkbox"></span>
                                            <span>{{'Enable_filter'|translate}}</span>
                                        </label>
                                        <!-- export -->
                                        <button type="button" kendoGridExcelCommand title="{{'Export_to_excel_file'|translate}}" class="ml-auto btn btn-link btn-sm btn-icon p-0">
                                            <svg viewBox="0 0 512 512" class="icon">
                                                <use xlink:href="#download"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </ng-template>

                                <!-- columns for mid-size devices -->
                                <kendo-grid-checkbox-column headerClass="text-center" class="text-center" [width]="40">
                                    <ng-template kendoGridCellTemplate let-idx="rowIndex">
                                        <label class="custom-checkbox m-0">
                                            <input type="checkbox" [kendoGridSelectionCheckbox]="idx">
                                            <span class="checkbox"></span>
                                        </label>
                                    </ng-template>
                                </kendo-grid-checkbox-column>
                                <kendo-grid-column field="ProductName" title="Warehouse"></kendo-grid-column>
                                <ng-template kendoGridDetailTemplate let-dataItem>
                                    <kendo-grid [kendoGridBinding]="data" [resizable]="true" [sortable]="true" class="" [filterable]=false
                                        [groupable]=false [columnMenu]="false" [selectable]="{ checkboxOnly: true, mode: 'multiple' }">
                                        <!-- columns for mid-size devices -->
                                        <kendo-grid-checkbox-column headerClass="text-center" class="text-center" [width]="40">
                                            <ng-template kendoGridCellTemplate let-ids="rowIndex">
                                                <label class="custom-checkbox m-0">
                                                    <input type="checkbox" [kendoGridSelectionCheckbox]="ids">
                                                    <span class="checkbox"></span>
                                                </label>
                                            </ng-template>
                                        </kendo-grid-checkbox-column>
                                        <kendo-grid-column field="ProductName" title="Work Center"></kendo-grid-column>
                                    </kendo-grid>
                                </ng-template>

                                <!-- xlsx template start -->
                                <kendo-grid-excel fileName="Warehouse-info.xlsx"></kendo-grid-excel>
                                <!-- xlsx template end -->
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </div>

            <!-- user detail save/cancel option -->
            <div class="sticky-bottom-toolbar d-flex align-items-center justify-content-start border-top pt-2">                
                <button class="btn btn-primary btn-sm d-flex align-items-center mr-2" type="button"> 
                    <svg viewBox="0 0 55.25 55.25" class="icon mr-2">
                        <use xlink:href="#edit"></use>
                    </svg> {{'Edit'|translate}}
                </button>           
        
                <button class="btn btn-success btn-sm mr-2 d-flex align-items-center" type="button">
                    <svg viewBox="0 0 512 512" class="icon mr-2">
                        <use xlink:href="#saveDisk"></use>
                    </svg> {{'Save'|translate}}
                </button>
                <button class="btn btn-danger btn-sm d-flex align-items-center mr-2" type="button"> 
                    <svg viewBox="0 0 753.23 753.23" class="icon mr-2">
                        <use xlink:href="#bin"></use>
                    </svg> {{'Delete'|translate}}
                </button>
                <button class="btn btn-danger btn-sm d-flex align-items-center" type="button" (click)="addUserScreenToggle()"> 
                    <svg viewBox="0 0 489 489" class="icon mr-2">
                        <use xlink:href="#cancel"></use>
                    </svg> {{'Cancel'|translate}}
                </button>
            </div>
        </div>
    </div>
</div>
